version: '3.8'
services:
  # 1. Database
  postgres:
    image: postgres:15-alpine
    container_name: ms-postgres
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_MULTIPLE_DATABASES=db_product,db_order
    ports:
      - "5433:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  # 2. Keycloak (CRITICAL FIX - Use HOST IP)
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.1
    container_name: ms-keycloak
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HTTP_PORT=9090
      - KC_HOSTNAME_STRICT=false
      - KC_HOSTNAME_STRICT_HTTPS=false
      - KC_PROXY=edge
      - KC_HOSTNAME_URL=http://localhost:9090
      - KC_HOSTNAME_ADMIN_URL=http://localhost:9090
    command: start-dev
    ports:
      - "9090:9090"
#    extra_hosts:
#      - "host.docker.internal:host-gateway"

  pgadmin:
    image: dpage/pgadmin4
    container_name: ms-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"

  # 3. Product Service
  product-service:
    build: ./produit-service
    container_name: ms-product
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://ms-postgres:5432/db_product
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=admin
    depends_on:
      - postgres
      - keycloak
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # 4. Order Service
  order-service:
    build: ./order-service
    container_name: ms-order
    ports:
      - "8082:8082"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://ms-postgres:5432/db_order
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=admin
    depends_on:
      - postgres
      - keycloak
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # 5. API Gateway
  gateway-service:
    build: ./gateway-service
    container_name: ms-gateway
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      # Keycloak URLs for GATEWAY (must use internal Docker network name)
      - KEYCLOAK_URL=http://ms-keycloak:9090
    depends_on:
      - keycloak
      - product-service
      - order-service
    extra_hosts:
      - "host.docker.internal:host-gateway"